<af-form ctrl="afform">
  <af-entity type="BankAccount" name="account" label="Account" actions="{create: true, update: true}" security="RBAC" data="{}" url-autofill="1" />
  <fieldset af-fieldset="account" class="af-container">
    <div class="af-container">
      <af-field name="name" />
      <af-field name="account_holder" />
    </div>
    <div class="af-container af-layout-cols">
      <af-field name="account_number" />
      <af-field name="routing_number" />
      <af-field name="account_type" />
    </div>
  </fieldset>
  <button class="af-button btn btn-primary" crm-icon="fa-check" ng-click="afform.submit()" ng-if="afform.showSubmitButton">Submit</button>
</af-form>
